{{- if .IsHome -}}
<title>{{ .Site.Title }}: {{ site.Params.seo.homeAppendTitle }}</title>
{{- else -}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{- end -}}

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ .Site.Params.seo.description }}" />

<!-- Opengraph and Twitter cards-->
{{- if .IsHome -}}
<meta property="og:title" content="{{ .Site.Title }}: {{ site.Params.seo.homeAppendTitle }}" />
{{- else -}}
<meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}" />
{{ end }}
<meta property="og:site_name" content="Genshin Feed" />
<meta property="og:description" content="{{ .Site.Params.seo.description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Site.BaseURL }}" />
<meta property="og:image" content="{{ trim .Site.BaseURL "/" }}/img/og-genshin-feed.jpg" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@themimitoof">

<!-- RSS/Atom auto-discovery -->
{{ partial "meta-feeds" . }}

<!-- Favicon -->
<link rel="shortcut icon" href="{{ trim .Site.BaseURL "/" }}/favicon.png" type="image/png" />

<!-- Stylesheets -->
{{- $style := resources.Get "scss/app.scss" | resources.ToCSS | minify -}}
<link rel="stylesheet" href="{{ $style.Permalink }}" />
